<p>
  <mat-toolbar color="primary">
    <span>{{ data.action }} Product</span>
  </mat-toolbar>
</p>

<form [formGroup]="productForm"  (ngSubmit)="submit()">
  <div class="row">
    <mat-form-field appearance="fill" class="col-6">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
      <mat-error *ngIf="productForm.controls.name.invalid">Required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-6">
      <mat-label>Type</mat-label>
      <input matInput type="text" formControlName="type">
      <mat-error *ngIf="productForm.controls.type.invalid">Required</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="fill" class="col-6">
      <mat-label>Length</mat-label>
      <input matInput type="number" formControlName="length">
      <mat-error *ngIf="productForm.controls.length.invalid">Required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-6">
      <mat-label>Width</mat-label>
      <input matInput type="number" formControlName="width">
      <mat-error *ngIf="productForm.controls.width.invalid">Required</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput type="number" formControlName="height" class="col-6">
      <mat-error *ngIf="productForm.controls.height.invalid">Required</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Weight</mat-label>
      <input matInput type="number" formControlName="weight" class="col-6">
      <mat-error *ngIf="productForm.controls.weight.invalid">Required</mat-error>
    </mat-form-field>
  </div>

  <button type="submit" mat-raised-button color="primary">
    Submit
  </button>
  <button mat-raised-button (click)="close()">
    Close
  </button>
</form>